body{
	background: url('../img/bg.png') top left no-repeat fixed;
}
.metrouicss .huge-icon{
	display: block !important;
	text-align: center !important;
	font-size: 95px !important;
	padding: 0 !important;
}
.metrouicss .page{
	width: 950px;
	margin: 0 auto;
}
.metrouicss .height1{
	height:50px;
}
.metrouicss .height2{
	height:140px;
}
.metrouicss .height3{
	height:220px;
}
.metrouicss .height4{
	height:290px;
}
.metrouicss .botmess{
	position: absolute;
	text-align: right;
	font-weight: bold;
}
.metrouicss .font-white{
	color: #FFF;
}
.metrouicss .body{
	padding: 10px;
	height: 100%;
}
.metrouicss .font-white *{
	color: #FFF;
}
.metrouicss .img-container{
	text-align: center;
}
.metrouicss .img-container img{
	max-width: 100%;
}
.metrouicss .body:after,
.metrouicss .body:before{
	clear: both;
	display: table;
	content: "";
}
.metrouicss .body .cont{
	height: 100px;
	overflow-y: hidden;
}
.metrouicss .body a{
	color: #FFF;
	line-height: 20px;
	display: block;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
.metrouicss a .body{
	color: #FFF;
	line-height: 20px;
	display: block;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
.metrouicss .body a:hover{
	color: #000;
}
.metrouicss .body .title{
	height: 10px;
	font-size: 13px;
	padding-top: 4px;
}
.metrouicss div.hovered:hover, .metrouicss a.hovered:hover{
	box-shadow: 0 1px 10px #000;
}